{
  "extends": [
    "airbnb-typescript-prettier"
  ],
  "rules": {
    "linebreak-style": "off", // Don't play nicely with Windows.
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off", // Don't play nicely with tsconfig paths re-maps.
    "import/no-cycle": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-restricted-exports": "off"
  }
}